.schedule-item {
  $schedule-item-margin-bottom: 20 !default;
  $arrow-top-position: 23 !default;
  $arrow-height: 14 !default;
  $progress-bar-offset: 25 !default;
  $progress-bar-width: 2 !default;
  $progress-dot-height: 8 !default;

  position: relative;
  margin: 0 0 #{$schedule-item-margin-bottom}px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  /* arrow */
  &:after {
    position: absolute;
    top: #{$arrow-top-position}px;
    left: -7px;
    z-index: 1;

    display: block;
    width: #{$arrow-height}px;
    height: #{$arrow-height}px;
    content: '';

    transform: rotate(45deg);
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  &__wrap {
    position: relative;
    z-index: 2;

    padding: 20px;

    background: #ffffff;
    border-radius: 10px;

    /* progress line */
    &:after {
      position: absolute;
      left: #{-$progress-bar-offset}px;
      top: #{$arrow-top-position + $arrow-height/2 + $schedule-item-margin-bottom/2}px;
      z-index: 1;

      display: block;
      width: #{$progress-bar-width}px;
      height: 100%;
      content: '';

      background: #dddddd;
    }

    /* progress dot */
    &:before {
      position: absolute;
      left: #{-$progress-bar-offset - $progress-dot-height/2 + $progress-bar-width/2}px;
      top: #{$arrow-top-position + $arrow-height/2 - $progress-dot-height/2}px;
      z-index: 2;

      display: block;
      width: #{$progress-dot-height}px;
      height: #{$progress-dot-height}px;
      content: '';

      background: #aaaaaa;
      border-radius: 50%;
    }
  }

  &:last-child &__wrap:after {
    display: none;
  }

  &_completed &__wrap:before {
    background: $red;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
  }

  &__date {
    display: inline-block;
    margin: 3px 0 0 0;
    color: #707070;
  }

  &__info {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
  }

  &__info-title {
    font-weight: 600;
  }

  &__materials {
    display: flex;
    margin: 15px 0 0 0;

    .btn:first-child {
      margin: 0 10px 0 0;
    }
  }
  
  &__lecturer {
    cursor: pointer;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  }
}