.textfield {
  position: relative;

  &__control {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;

    font-size: 13px;

    border-radius: 3px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    appearance: none;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  &__icon {
    position: absolute;
    display: block;
    cursor: pointer;

    &_calendar {
      top: 5px;
      right: 5px;

      width: 20px;
      height: 20px;

      background: url("../../images/svg/calendar.svg");
    }

    &_clear {
      top: 8px;
      right: 7px;

      width: 15px;
      height: 15px;

      background: url("../../images/svg/clear.svg");
    }

    &_hidden {
      display: none;
    }
  }
}